# Tupple

In [1]:
myTupple = (9,12,3,45,6,7,"nasir", "Asad")

In [5]:
myTupple[3]

45

In [6]:
# we cant do any change in Tupple i.e cant delete, update, or insert new values in other words tupple is immutable
# we can insert list in Tupple

In [7]:
City = 'khi', 'lhr'

In [8]:
City

('khi', 'lhr')

In [9]:
City1 = ('Asad', 'Saad')

In [10]:
City2 = City + City1

In [11]:
City2

('khi', 'lhr', 'Asad', 'Saad')

In [13]:
City2.count('khi')

1

In [14]:
City.index('lhr')

1

In [15]:
myTupple = (9,12,3,45,6,7,"nasir", "Asad") #Packing

In [16]:
Square = (12,16) # packing

In [17]:
l, b = Square # Unpacking

In [18]:
l

12

In [19]:
b

16

listing= [333,444,666]

In [20]:
listing = [333, 444 ,555] # packing

In [21]:
a, b, c = listing  # unpacking

In [22]:
a

333

In [23]:
b

444

In [24]:
c

555

In [25]:
name= 'Pakistan'

In [26]:
name[1:4]

'aki'

# For Loops

In [27]:
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')
print('Hello Pakistan')

Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan
Hello Pakistan

In [31]:
for i in range (10):
    print(i ,'hello pkistan')
    print('I am in loop')

0 hello pkistan
I am in loop
1 hello pkistan
I am in loop
2 hello pkistan
I am in loop
3 hello pkistan
I am in loop
4 hello pkistan
I am in loop
5 hello pkistan
I am in loop
6 hello pkistan
I am in loop
7 hello pkistan
I am in loop
8 hello pkistan
I am in loop
9 hello pkistan
I am in loop

In [33]:
for i in range(10):
    print(i, end =' ')

0 1 2 3 4 5 6 7 8 9

In [34]:
for i in range(1,10):
    print(i, end =' ')

1 2 3 4 5 6 7 8 9

In [42]:
for i in range(1,20,2): #range(sart, end, step)
    print(i, end =' ')

1 3 5 7 9 11 13 15 17 19

In [45]:
for i in range(20,0,-1):
    print(i, end =' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [55]:
for num in [12,23,34,45,67,89]:
    print (f"the number in the list is  {num}")

the number in the list is  12
the number in the list is  23
the number in the list is  34
the number in the list is  45
the number in the list is  67
the number in the list is  89

In [60]:
student=['ali','asad', "omer"]
for mem in student:
    print(mem)

ali
asad
omer

In [82]:
for character in 'Pakistan Zindabad':
    print(character)

P
a
k
i
s
t
a
n

Z
i
n
d
a
b
a
d

In [85]:
for a in range(1 , 10):
   
    if a == 4:
       
        continue
        print(a)

In [93]:
for a in range(1 , 10):
   
    if a ==4:
        break
        print(a)

In [100]:
friends= ['ali', 'asad', 'umer']
for friend in friends:
    if friend == 'asad':
        break
    print(friend)

ali

In [107]:
friend1=['asad', 'umer', 'ali', 'adil', 'salman']
for friend in friend1:
    if friend != 'ali':
        print(f"welcome to party {friend}")
    else :
        print (f"party is over {friend}")

welcome to party asad
welcome to party umer
party is over ali
welcome to party adil
welcome to party salman

# Nested For Loop

In [108]:
fNames= ['Nasir', 'Ali', 'Salman']
lNames = ['Hussain', 'Amin', 'Fazal']

for fName in fNames:
    for lName in lNames:
        print (fName, lName)

Nasir Hussain
Nasir Amin
Nasir Fazal
Ali Hussain
Ali Amin
Ali Fazal
Salman Hussain
Salman Amin
Salman Fazal

In [118]:
tble= int (input("Enter the value of Table"))
for x in range(1, 11):
    print(f"{tble} * {x} = {tble * x}")

Enter the value of Table2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [134]:
for table in range(2,6):
    print("######")
    for num in range(1,11):
        print(f"{table} * {num} = {table * num}")

######
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
######
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
######
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
######
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Dictionaries

In [136]:
dic= {"name":"Hamza", "Age":23, "gender":"male"} #{kye:value}

In [137]:
dic

{'name': 'Hamza', 'Age': 23, 'gender': 'male'}

In [138]:
dic["name"]

'Hamza'

In [139]:
dic["gender"]

'male'

In [140]:
dic2={"Name": ["nasir", "Asad","nasir1", "Asad1"], "degrees": ['A', 'B']}

In [141]:
# a dictionary in a list
listing= [11,22,dic2]

In [143]:
listing

[11, 22, {'Name': ['nasir', 'Asad', 'nasir1', 'Asad1'], 'degrees': ['A', 'B']}]

In [145]:
# a dictionary in a dictionary
dic3= {"name": dic2}
dic3

{'name': {'Name': ['nasir', 'Asad', 'nasir1', 'Asad1'], 'degrees': ['A', 'B']}}

In [146]:
dic= {"name":"Hamza", "Age":23, "gender":"male"}

In [148]:
for key in dic.keys():
    print(key)

name
Age
gender

In [149]:
for val in dic.values():
    print(val)

Hamza
23
male

In [151]:
for k , v in dic.items():
    print(k,v)

name Hamza
Age 23
gender male

In [152]:
for key in dic.keys():
    print(dic[key])

Hamza
23
male

In [153]:
# Add item in dictionary
dic['address']= 'Ali pride'
dic

{'name': 'Hamza', 'Age': 23, 'gender': 'male', 'address': 'Ali pride'}

In [154]:

dic['address']= 'Ali pride3'
dic

{'name': 'Hamza', 'Age': 23, 'gender': 'male', 'address': 'Ali pride3'}

In [155]:
# delete item in dictionary
assighment
#https://docs.python.org/3/

In [158]:
eklist= [{"a":"karachi","b":'lahore'},{1:111,2:222},dic]

In [159]:
len(eklist)

3

In [160]:
eklist[2]["name"]

'Hamza'