#List

In [10]:
student=['ali','ahmed', 'hamza','asad']
type(student)

list

In [4]:
alist=['ali', 123, True]

In [6]:
student [1]

'ahmed'

In [7]:
# delete the value from list
# 1st way
del student[1]

In [8]:
student

['ali']

In [11]:
print(student)

['ali', 'ahmed', 'hamza', 'asad']

In [12]:
# delete the value from list
# 2ndst way
student.remove('hamza')

In [13]:
student

['ali', 'ahmed', 'asad']

In [15]:
#update/replace the value from list
student[1]='hussain'

In [16]:
student

['ali', 'hussain', 'asad']

In [23]:
#add new  value from list
City=[]
City.append('lahore')
City.append('Karachi')

In [18]:
City

['lahore', 'Karachi']

In [24]:
#add new  value from list in a specific place/index
#City.insert(index, object)

City.insert(1,'sibi')
City

['lahore', 'sibi', 'Karachi']

In [26]:
#get index from list
City.index('lahore')

0

In [29]:
#City.length
len(City)

3

In [31]:
#remove all the list item 
City.clear()
City

[]

In [32]:
# set the list int/string values in accending order
sortList=[1.5, 88, 99, 7, 6, 8]
sortList.sort()
sortList

[1.5, 6, 7, 8, 88, 99]

In [33]:
# set the list  values in reverse order
sortList.reverse()
sortList

[99, 88, 8, 7, 6, 1.5]

In [35]:
# make copy of a list by passing reference
numbers=[1,4,5,6,7,8]
k=numbers
k

[1, 4, 5, 6, 7, 8]

In [37]:
numbers.append(100)
numbers

[1, 4, 5, 6, 7, 8, 100, 100]

In [38]:
k.append(222)
numbers

[1, 4, 5, 6, 7, 8, 100, 100, 222]

In [41]:
# make seprate copy of a list 1st way
a=[1,4,6,78,5,5,7,8]
a=k.copy()
k

[1, 4, 5, 6, 7, 8, 100, 100, 222]

In [40]:
# make seprate copy of a list 2nd way
c=[1,4,6,78,5,5,7,8]
b=c[:]
b

[1, 4, 6, 78, 5, 5, 7, 8]

# List Into List

In [46]:
list1=[1,2,3,4,5, ['apple', 'mangoes', 'oranges'], k]
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'mangoes', 'oranges'],
 [1, 4, 5, 6, 7, 8, 100, 100, 222]]

In [47]:
list1[5][2]

'oranges'

In [48]:
list1[5].insert(1,'sweet mangoes')
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'sweet mangoes', 'mangoes', 'oranges'],
 [1, 4, 5, 6, 7, 8, 100, 100, 222]]

In [50]:
list1[5].remove('sweet mangoes')
list1

[1,
 2,
 3,
 4,
 5,
 ['apple', 'mangoes', 'oranges'],
 [1, 4, 5, 6, 7, 8, 100, 100, 222]]

In [55]:
# to find the a value exist in list
'mangoes' in list1[5]

True

In [59]:
list1[5].index('mangoes')

1

# Slicing

In [60]:
list2=['a','b','c','x','y','z']
list2

['a', 'b', 'c', 'x', 'y', 'z']

In [62]:
s=list2[2:5]
s

['c', 'x', 'y']

In [63]:
s

['c', 'x', 'y']